[Unit]
Description=Directord Client
After=network.target

[Service]
User=root
ExecStart=/usr/bin/directord --config-file /etc/directord/config.yaml server
Restart=on-failure
RestartSec=10
CPUAccounting=true
BlockIOAccounting=true
MemoryAccounting=true
TasksAccounting=true
Slice=directord.slice

[Install]
WantedBy=multi-user.target
