# Set ERLANG VM parameters
NODENAME=rabbit@{{ directord_hostname }}
RABBITMQ_IO_THREAD_POOL_SIZE={{ rabbitmq_async_threads }}
RABBITMQ_SERVER_ERL_ARGS="+P {{ rabbitmq_process_limit }}"
RABBITMQ_USE_LONGNAME=true
