
[
  { rabbit, [
      { loopback_users, [] },
      { ssl_listeners, [
          { "{{ rabbitmq_management_bind_address }}", {{ rabbitmq_ssl_port | int }} },
        ]
      },
      { tcp_listeners, [
          { "{{ rabbitmq_management_bind_address }}", {{ rabbitmq_tcp_port | int }} }
        ]
      },
      { collect_statistics_interval, {{ rabbitmq_collect_statistics_interval }} },
      { ssl_options, [
          { certfile, "{{ rabbitmq_ssl_cert }}" },
          { keyfile, "{{ rabbitmq_ssl_key }}" },
          { versions, [
              'tlsv1.2',
              'tlsv1.1'
            ]
          },
          { verify, verify_none },
          { fail_if_no_peer_cert, false }
        ]
      },
      { vm_memory_high_watermark, {{ rabbitmq_memory_high_watermark }} },
      { cluster_partition_handling, {{ rabbitmq_cluster_partition_handling }} }
    ]
  },
  { rabbitmq_management, [
      { rates_mode, {{ rabbitmq_management_rates_mode }} },
      { listener, [{ip, "{{ rabbitmq_management_bind_address }}" }]}
    ]
  },
  {kernel, [
     {inet_dist_use_interface, { {{ rabbitmq_management_bind_address | replace('.',',') }} } }
  ]},
  {mnesia, [{dump_log_write_threshold, {{ rabbitmq_mnesia_dump_log_write_threshold }} }]}
].
