[Unit]
Description=Director Client
After=network.target

[Service]
User=root
ExecStart=/usr/bin/director --config-file /etc/director/config.yaml server
Restart=on-failure
RestartSec=10
CPUAccounting=true
BlockIOAccounting=true
MemoryAccounting=true
TasksAccounting=true
Slice=director.slice

[Install]
WantedBy=multi-user.target
