all:
  vars:
    ansible_user: centos
  children:
    director_server:
      hosts:
        server0:
          ansible_host: 172.16.27.120
    director_clients:
      hosts:
        client0:
          ansible_host: 172.16.27.53
        client1:
          ansible_host: 172.16.27.58
        client2:
          ansible_host: 172.16.27.113
        client3:
          ansible_host: 172.16.27.120
